---

import visa from "@/assets/icons/footer/visa.png";
import americanexpress from "@/assets/icons/footer/americanexpress.png";
import mastercard from "@/assets/icons/footer/mastercard.png";
import stripe from "@/assets/icons/footer/stripe.png";
import paypal from "@/assets/icons/footer/paypal.png";
import applepay from "@/assets/icons/footer/applepay.png";


---


<footer class="flex flex-col justify-center items-center w-full bg-accent-secondary py-12 sm:px-12 md:px-32 lg:px-40">


  <div class="top-row flex flex-row justify-between gap-12 w-full border-b border-solid sm:border-[rgba(255,255,255,.4)] py-12 sm:flex-col sm:justify-center sm:items-center">
<div class="first-column w-full flex flex-col gap-6 sm:pb-4 sm:border-b sm:border-solid sm:border-[rgba(255,255,255,.4)]">
  <span class="font-medium text-neutral-01 text-xl">3legant.</span>
  <span class=" text-neutral-01">More than just a game. <br>
        It's a lifestyle.
  </span>
  <div class={`social-media-icons flex flex-row gap-6 py-4`}>
    <a href="">
      <svg
        class="size-6 stroke-neutral-01"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect
          x="2"
          y="2"
          width="20"
          height="20"
          rx="4"
          stroke-witdh="1.5"
        />
        <circle cx="18" cy="6" r="1" fill="#141718" />
        <circle
          cx="12"
          cy="12"
          r="5"
          stroke-witdh="1.5"
        />
      </svg>
    </a>
    <a href="">
      <svg
        class="size-6 stroke-neutral-01"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M18 3H15C12.2386 3 10 5.23858 10 8V10H6V14H10V21H14V14H18V10H14V8C14 7.44772 14.4477 7 15 7H18V3Z"
          stroke-witdh="1.5"
          stroke-Linecap="round"
          stroke-Linejoin="round"
        />
      </svg>
    </a>
    <a href="">
      <svg
        class="size-6 stroke-neutral-01"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect
          x="2"
          y="3"
          width="20"
          height="18"
          rx="4"
          stroke-witdh="1.5"
        />
        <path
          d="M10.4472 8.72361L15.2111 11.1056C15.9482 11.4741 15.9482 12.5259 15.2111 12.8944L10.4472 15.2764C9.78231 15.6088 9 15.1253 9 14.382V9.61803C9 8.87465 9.78231 8.39116 10.4472 8.72361Z"
          stroke-witdh="1.5"
          stroke-Linecap="round"
        />
      </svg>
    </a>
  </div>
</div>
<div class="navigation w-full flex flex-row justify-center gap-12 sm:flex-col sm:justify-center sm:items-start">
  <div class="second-column w-full flex flex-col justify-start items-start gap-8 sm:pb-4 sm:border-b sm:border-solid sm:border-[rgba(255,255,255,.4)]">
    <h3 class="text-neutral-01 font-medium">Page</h3>
    <nav>
      <ul class="flex flex-col gap-4">
        <li class="text-neutral-01 opacity-85 hover:text-accent-primary transition-colors"><a href="">Home</a></li>
        <li class="text-neutral-01 opacity-85 hover:text-accent-primary transition-colors"><a href="">Shop</a></li>
        <li class="text-neutral-01 opacity-85 hover:text-accent-primary transition-colors"><a href="">Product</a></li>
        <li class="text-neutral-01 opacity-85 hover:text-accent-primary transition-colors"><a href="">Articles</a></li>
        <li class="text-neutral-01 opacity-85 hover:text-accent-primary transition-colors"><a href="">Contact Us</a></li>
      </ul>
    </nav>
  </div>
  <div class="third-column w-full flex flex-col justify-start items-start gap-8 sm:pb-4 sm:border-b sm:border-solid sm:border-[rgba(255,255,255,.4)]">
    <h3 class="text-neutral-01 font-medium">Info</h3>
    <nav>
      <ul class="flex flex-col gap-4">
        <li class="text-neutral-01 opacity-85 hover:text-accent-primary transition-colors"><a href="">Shipping Policy</a></li>
        <li class="text-neutral-01 opacity-85 hover:text-accent-primary transition-colors"><a href="">Return & Refund</a></li>
        <li class="text-neutral-01 opacity-85 hover:text-accent-primary transition-colors"><a href="">Support</a></li>
        <li class="text-neutral-01 opacity-85 hover:text-accent-primary transition-colors"><a href="">FAQs</a></li>
      </ul>
    </nav>
  </div>
  <div class="forth-column w-full flex flex-col justify-start items-start gap-8 sm:pb-4 sm:border-b sm:border-solid ">
    <h3 class="text-neutral-01 font-medium">Office</h3>
    <div class="info flex flex-col gap-5">
      <span class="text-neutral-01 opacity-85 text-nowrap">43111 Hai Trieu street, <br>
        Distric 1, HCMC <br>
        Vietnam
      </span>
      <span class="text-neutral-01 opacity-85">84-756-3237</span>
    </div>
  </div>
</div>
  </div>

  <div class="bottom-row flex flex-row justify-between items-center w-full py-12 flex-wrap gap-2 sm:flex-col-reverse sm:gap-5">
    <div class="copyright flex flex-row justify-between items-center sm:flex-col-reverse  sm:gap-5">
      <span class="text-neutral-01 text-nowrap pr-5">Copyright 2023 3legant. All rights reserved</span>
      <div class="terms-links flex flex-row justify-start items-center gap-5 px-5 border-l border-solid border-neutral-01 opacity-45">
        <a href="" class="text-neutral-01 text-nowrap">Privacy Policy</a>
        <a href="" class="text-neutral-01 ">Terms & Conditions</a>
      </div>
    </div>
    <div class="payment-methods flex flex-row gap-2">
      <a href=""><img src={visa.src} alt="" class="min-w-3"></a>
      <a href=""><img src={americanexpress.src} alt="" class="min-w-3"></a>
      <a href=""><img src={mastercard.src} alt="" class="min-w-3"></a>
      <a href=""><img src={stripe.src} alt="" class="min-w-3"></a>
      <a href=""><img src={paypal.src} alt="" class="min-w-3"></a>
      <a href=""><img src={applepay.src} alt="" class="min-w-3"></a>
    </div>
  </div>



</footer>

<style>
  a:hover svg {
    stroke:var(--accent-primary);
    transition: all ease 400ms;
  }
  a:focus svg {
    stroke:var(--accent-primary);
    transition: all ease 400ms;
  }

  a:focus, a:hover {
    color: var(--accent-primary);
    outline: none;
  }


</style>