---

import image1 from "@/assets/images/newsfeed/1.png"
import image2 from "@/assets/images/newsfeed/2.png"
import image3 from "@/assets/images/newsfeed/3.png"
import image4 from "@/assets/images/newsfeed/4.png"
import image5 from "@/assets/images/newsfeed/5.png"
import image6 from "@/assets/images/newsfeed/6.png"

---



<section class="newsfeed-section flex flex-col justify-center items-center">


  <div class="info flex flex-col justify-center items-center w-full gap-3 py-12">
    <h2 class="uppercase text-neutral-04 font-bold">newsfeed</h2>
    <span class="text-4xl font-medium text-accent-secondary">Instagram</span>
    <span class="text-lg text-accent-secondary text-center">Follow us on social media for more discount & promotions</span>

    <a href="">
      <span class="text-lg font-medium text-neutral-04">@3legant_official</span>
    </a>
  </div>

  <div class="images flex flex-row w-full overflow-hidden">
    <img src={image1.src} alt="" class="w-full h-auto">
    <img src={image2.src} alt="" class="w-full h-auto">
    <img src={image3.src} alt="" class="w-full h-auto">
    <img src={image4.src} alt="" class="w-full h-auto">
    <img src={image5.src} alt="" class="w-full h-auto">
    <img src={image6.src} alt="" class="w-full h-auto">
  </div>

</section>